name: 'helm'

env:
  FOO: "BAR"

on:
  push:
    branches: [ "master" ]
  pull_request:

permissions:
  contents: read

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: production

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    - run: env && echo "arn:aws:iam::1234567890:role/$ROLE_NAME"
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: open file
      run: |
        helm repo add grafana https://grafana.github.io/helm-charts
        helm pull grafana/grafana --version 10.1.4 --untar
        cd grafana
        helm template my-grafana --dry-run --debug ./

